@import 'variables';

*{
    background-color:$background;
    margin: 20px;
}

.caja-titulo { 
    text-align:center;
    font-family:$font;
    color:$font-color;
    border:$border;

}
    
.banner{
    background-size: cover;
    background-position: center center;
    border-radius: 30px;



}